

html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

section {
  min-height: 100vh;
}

h1 {
  font-size: 52px;
}

h2 {

}

h3 {

}

h4 {

}

p {

}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.content .slideshow {
  width: 54%;
  height: 100%;
  background: #7a0303;
  color: #fff;
}

.content .slideshow .title h1 {
  font-family: 'Meow Script', cursive;
}

.content .sidebar {
  width: 46%;
  height: 100%;
  overflow-y: scroll;
  padding: 24px;
}

@media screen and (max-width: 640px)  {
  .content {
    flex-wrap: wrap;
  }
  
  .content .slideshow {
    width: 100%;
    height: 54%;
  }

  .content .sidebar {
    width: 100%;
    height: auto;
  }
}

section#intro {

}

section#our-story {

}

section#event-description {
  
}

section#tour-dates {

}