
/* Variables */

:root {
  --gold: #ebae32;
  --background-gold: #df9d2c88;
  --red: #941e1c;
  --dark-red: #4b0504;
  --background-light-red: #ffeded;
  --white: #fff;
  --transparent-white: #fff2;
  --black: #1c1c1c;
  --off-white: #ffffffe7;
}

/* General UI */

html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

div {
  box-sizing: border-box;
}

section {
  padding: 36px;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 56px;
}

.icon-holder {
  width: 100%;
  text-align: center;
  padding: 24px 0;
}

.icon-holder .material-symbols-outlined {
  font-size: 42px !important;
  color: var(--red);
}

h2 {
  margin: 8px 0 24px;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 42px;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 26px;
  margin: 16px 0 16px;
}

/* Main Container */

.content {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Slideshow */

.content .slideshow {
  position: relative;
  width: 54%;
  height: 100%;
  color: var(--white);
  background: var(--black);
  overflow: hidden;
}

.content .slideshow .title {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  height: 50%;
  width: 100%;
  padding: 38px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
  background: #0003;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.content .slideshow .title h4 {
  margin: 8px;
  width: 100%;
}

.content .slideshow .title p {
  width: 100%;
}

.content .slideshow .slideshow-images {
  position: absolute;
  height: 100%;
  width: 100%;
}

.content .slideshow .slideshow-images .slideshow-image {
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0);
  transition: filter 0.4s, background 0.4s;
}

.content .slideshow .slideshow-images .slideshow-image#intro_engagement {
  background-image: url(./img/intro_engagement.jpg);
  filter: opacity(1);
}

.content .slideshow .slideshow-images .slideshow-image#story_times-square {
  background-image: url(./img/story_times-square.jpg);
}

.content .slideshow .slideshow-images .slideshow-image#story_paris {
  background-image: url(./img/story_paris.jpg);
}

.content .slideshow .slideshow-images .slideshow-image#story_covid {
  background-image: url(./img/story_covid.jpg);
}

.content .slideshow .slideshow-images .slideshow-image#event_wedding {
  background-image: url(./img/event_wedding-2.jpg);
}

.content .slideshow .slideshow-images .slideshow-image#date_new-york {
  background-image: url(./img/date_new-york.jpg);
}

.content .slideshow .slideshow-images .slideshow-image#date_las-vegas {
  background-image: url(./img/date_las-vegas.jpg);
}

.content .slideshow .slideshow-images .slideshow-image#date_amsterdam {
  background-image: url(./img/date_amsterdam.jpg);
}

.content .slideshow .slideshow-images .slideshow-image#date_taipei {
  background-image: url(./img/date_taipei.jpg);
}

.content .sidebar {
  position: relative;
  width: 46%;
  height: 100%;
  background: var(--background-light-red);
  overflow-y: scroll;
  box-shadow: 0 0 180px #0008;
}

/* Intro */

section#intro {
  height: calc(100vh - 72px);
  background: var(--red);
  color: var(--white);
  position: relative;
}

section#intro .icon-holder {
  margin: 36% 0 0;
}

section#intro .icon-holder .material-symbols-outlined {
  color: var(--gold) !important;
}

section#intro .scroll-down {
  position: absolute;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
  padding: 24px 0;
  border-radius: 30px;
  background: var(--transparent-white);
  text-align: center;
  cursor: pointer;
  transition: transform 0.4s, background 0.4s;
}

section#intro .scroll-down:hover {
  background: var(--background-gold);
  transform: translate(-50%, 4px);
}

section#intro .scroll-down .material-symbols-outlined {
  font-size: 38px !important;
  line-height: 0px;
}


/* Story */

section#our-story {

}

/* Event */

section#event-description {
  background: var(--gold);
  color: var(--black);
}

section#event-description .icon-holder .material-symbols-outlined {
  color: var(--red) !important
}

/* Dates */

section#tour-dates {
}

section#tour-dates .tour-dates {
  display: flex;
  flex-wrap: wrap;
}

section#tour-dates .tour-dates .tour-date {
  width: 100%;
  margin: 24px;
  background: var(--red);
  min-height: 120px;
  padding: 28px;
  border-radius: 4px;
  color: var(--white);
}

section#tour-dates .tour-dates .tour-date .tour-date-header {
  width: 100%;
  display: flex;
}

section#tour-dates .tour-dates .tour-date .tour-date-header h3 {
  width: 50%;
  color: var(--gold);
}

section#tour-dates .tour-dates .tour-date .tour-date-header h4 {
  width: 50%;
  text-align: right;
  color: var(--gold);
}

section#tour-dates .tour-dates .tour-date a .rsvp-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 14px 24px;
  border: 1px solid var(--gold);
  border-radius: 4px;
  color: var(--gold);
  font-weight: 400;
  cursor: pointer;
  transition: background 0.4s;
}

section#tour-dates .tour-dates .tour-date a .rsvp-button:hover {
  background: var(--background-gold);
}

/* Footer */

section#footer {
  border-top: 8px solid var(--gold);
  background: var(--dark-red);
  height: 18px;
  margin-top: 42px;
}

/* Mobile */

@media screen and (max-width: 748px)  {
  .content {
    flex-wrap: wrap;
  }
  
  .content .slideshow {
    width: 100%;
  }

  .content .sidebar {
    width: 100%;
    height: auto;
  }

  section#intro {
    height: auto;
    padding: 24% 36px 24%;
  }

  section#intro .scroll-down {
    visibility: hidden;
  }
  
  section#intro .icon-holder {
    margin: 0;
  }
}